.form-grid {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
}

.p-float-label {
  display: block;
  margin-bottom: 30px;
}

input,
.p-inputmask,
.p-calendar .p-calendar-input,
.p-inputnumber .p-inputnumber-input .p-dropdown {
  width: auto;
  max-width: 100%;
}

button {
  display: block;
  width: auto;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .form-grid {
    width: 95%;
    padding: 10px;
  }
}
